*, body{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 90px;
    width: 100%;
    margin-bottom: 30px;

}
.header{
    border-bottom: 2px gray solid;
    width: 100%;
}
.header figure{
    width: 25%;
}
figcaption{
    text-align: center;
}
.header figure img{
    width: 25%;
}
main{
    display: flex;
    justify-content: space-between;
}
main .caixa{
    border: 0.5px solid gray
}
.title, .artic{
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 70%;
    height: auto;
    padding: 0 5px;
}
.content h1{
    text-align: center;
}
.content p{
    text-align: left;
    margin-left: 20px;
}
.image{
    width: 100%;
}
.image figure img{
    width: 90%;
    margin: 0 5%;
}